<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
    <link rel="icon" href="img/burger-top.png" type="imgs">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi página de recetas</title>
</head>

<body>
    <header class="cabecera">
        <img class="logo" src='img/burger-top.png' alt='logo'>
        <h1>Comida sana para todos los días</h1>
    </header>
    
    <nav>
        <a href="#">Listado de recetas</a>
        <a href="#">Añadir nueva receta</a>
        <a href="#">Ver mis recetas</a>
    </nav>


    <main id="bloque-principal">
        <section class="lista-recetas">
            <div class="wrap-receta">
                <a href="index.php?receta=1">
                    <div class="receta-lista">
                        <img class="foto-receta-lista" src='img/receta.jpg' alt='foto-receta'>

                        <section id="info-lista-receta">
                            <h1>Fish & Chips</h1>
                            <p class="info-lista-receta-texto">Es uno de los rebozados que mejor resultado dan para freír pescados blancos, porque quedan crujientes por fuera, jugosos por dentro y apenas absorben aceite. Lo habitual es acompañarlos con una crema de guisantes con menta, pero también valen unos guisantes cocidos con nuestra salsa favorita como puede ser una holandesa.</p>
                        </section>                

                    </div>

                    <div class="fast-info">
                        <div class="dificultad">
    <!--                         <img class="logo-dificultad" src='img/dificultad.png'>
    -->                        <div class="tiempo-receta">Fácil</div>
                        </div>

                        <div class="tiempo">
                        <!-- <img class="logo-tiempo" src='img/reloj.png'> -->
                            <div class="dificultad-receta">20 minutos</div>
                        </div>
                    </div>    
                </a>
            </div>

            <div class="wrap-receta">
                <a href="index.php?receta=2">
                    <div class="receta-lista">
                        <img class="foto-receta-lista" src='img/pollo.jpg' alt='foto-receta'>

                        <section id="info-lista-receta">
                            <h1>Pollo al salmorejo</h1>
                            <p class="info-lista-receta-texto">Es uno de los rebozados que mejor resultado dan para freír pescados blancos, porque quedan crujientes por fuera, jugosos por dentro y apenas absorben aceite. Lo habitual es acompañarlos con una crema de guisantes con menta, pero también valen unos guisantes cocidos con nuestra salsa favorita como puede ser una holandesa.</p>
                        </section>                

                    </div>

                    <div class="fast-info">
                            <div class="tiempo-receta">Fácil</div>
                            <div class="dificultad-receta">20 minutos</div>
                    </div>   
                </a> 
            </div>
        </section>

        <aside class="barra-lateral">
            <section class="campo-lateral">
                <form id="login">
                    <div class=cabecera-aside>
                        <h2>Login</h2>
                    </div>

                    <div class="grupo-formulario">
                        <label for="uname"><p>Usuario</p></label>
                        <input type="text" name="uname" id="email-inicio" required>
                    </div>

                    <div class="clr"></div>
                    
                    <div class="grupo-formulario">
                        <label for="psw"><p>Clave</p></label>
                        <input type="password" name="psw" id="pwd-inicio" required>
                    </div>

                
                    <input class="boton" type="submit" value="Login" name="" id="boton-inicio">
                </form>
            </section>

            <section id="mas-valoradas" class="campo-lateral">
                <div class=cabecera-aside>
                    <h2>+ valoradas</h2>
                </div>

                <ol>
                    <li>Risotto de calabaza y champiñones</li>
                    <li>Pollo al salmorejo</li>
                    <li>Ensalada de espinacas y mango</li>
                </ol>
            </section>

            <section id="n-recetas" class="campo-lateral">
                <div class=cabecera-aside>
                    <h2>nº recetas</h2>
                </div>

                <p>el sitio contiene 1452 recetas diferentes</p>
            </section>
        </aside>
    </main>

    <footer>
        <p>&copy; <a>Tecnologías Web</a> | <a>Mapa del sitio</a> | <a>contacto</a></p>
    </footer>
</body>